{% extends "base.html" %}
{% block content %}
<div class="col-md-3 col-xs-3">
	<img class="img-responsive img-rounded" src="/static/tuss4.jpg" title="TJ aka Tuss4" alt="TJ aka Tuss4" />
</div>
<div class="col-md-9 col-xs-9">
	<p>My goal is to be my own boss. Since I was in elementary school, I've always had a fascination with all things computer. 
	My dad was an electrical engineer and was all take me to computer expos. 
	Before I knew it I was learning how to assemble PCs from watching my dad fiddle with the family's PC. 
	At the age of 12 I was beginning to surf the web on my own, and I was taking notice of the high volume of anime fansites. 
	I thought to myself "I want my own website." I started going to my local library (which I already frequented every week, I was a bookworm), using the computers and researching website building. Turns out my Dad had a copy of Microsoft Frontpage and I began learning html.
	Next thing you know, I've got my first page running on our machine! Now how do I get that online? Remember geocities? Yeah, first webpage ever it was under my "supergoku60613" moniker. All it consited of was a starry background, a cha la head cha la midi and some DBZ Hyper Dimension sprite gifs. I was so proud. It might not have seemed significant, but from those humble beginnings I started learning more about html (through sites like webmonkey) 
	Then I got a copy of photoshop and started messing with graphic design. With photoshop and html, I started building web layouts and laying down the foundation for my own anime site: Dragon Ball Force Network. So if you ever wondered what DBFN stood for... there you go. As DBFN launched I created my new moniker "The ultimate super saiyain 4." It evolved into Tuss4 (XD). At this point I'm sure you can tell that anime and computer were the catalyst for me to learn about web development at a young age. It was because of this that I eventually learned how to code in PHP.
	</p>
	<p>
	In high school, I started developing an interest in computer generated images. I had seen people create abstrat art online, and I was curious as to how they made their artwork. After doing some research I learned that they were using software like Cinema 4d and 3ds max. So I started learning. I then realized I could do more than just create some crystals in 3ds max. So I discovered a site called 3dtotal, and started learning about polygon/hardsurface modeling. I never looked back. I did miss being a webmaster though. 
	However, I didn't manage a website until around 2008 when I created my wordpress blog. 
	</p>
	<p>
	Along with me not managing a website until 2008, I didn't get to program or code again until college! I still remember that course: COMP 150; probably one of my favorite courses during my college career. It introduced me to the python programming language. It's funny too, I went to college to get an accounting degree (which I got), but I honestly wanted to get a degree in some form of computing. I ended up with a double major in Acconting and Information Systems (IT). 
	So what is the purpose of this website? The purpose of Tuss4Dzigns.com is to showcase all my skills and ambitions. I don't want to limit to myself to just one area. I'm a web developer. I'm a martial artist. I'm a Christian. I'm a bookkeeper. I'm a CG Artist. I'm a graphic designer. Nothing says that I can't be succesful in all these areas. Now I'd like to thank you for taking the time to read this!
	</p>
	If you ever want to contact me, please feel free to check out the <a href="/contact/">contact page</a>.<br />
	<br />
</div>
{% endblock %}