{% extends "base.html" %}
{% block content %}
<script src="/static/js/script-videos.js" type="text/javascript"></script>
<div class="row">
	<div class="col-md-2">
		{% if vids.has_previous %}<a class="pag-link" href="?page={{ vids.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span></a>{% endif %}
	</div>
	<div class="col-md-8">
		<ul class="pagination">{% for p in vids.paginator.page_range %}<li {% ifequal p vids.number %}class="active"{% endifequal %}><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}</ul>
		<table class="table table-bordered table-striped">
			{% for v in vids %}
			<tr>
				<td><a class="ovid" onclick="changeThisId('{{ v.video_id }}')"><img src="{{ v.thumbnail }}" alt="{{ v.title }}" title="{{ v.title }}" class="img-responsive" /></a></td>
				<td>
					<h3>{{ v.title }}</h3>
					<p>
						{{ v.description|safe|linebreaks }}
					</p>
					<p>
						Watch on <a href="{{ v.url }}" target="_blank">YouTube</a> or click the Thumbnail to go into theater mode.
					</p>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-2">
		{% if vids.has_next %}<a class="pag-link" href="?page={{ vids.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>{% endif %}
	</div>
</div>
<div class="row">
	<div id="vid_overlay" class="col-md-12">
		<iframe id="ytplayer" width="720" height="480" src="http://www.youtube.com/embed/"></iframe>
		<p><button id="vidclose" class="btn btn-default">Close (Esc) <span class="glyphicon glyphicon-remove-circle"></span></button></p>
	</div>
</div>
{% endblock %}