body {
	padding-top: 70px;
	padding-bottom: 70px;
}
#vid_overlay {
	padding-top: 70px;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	color: #fff;
	text-align: center;
	display: none;
}
iframe {
	border: 0;
	max-width: 100%;
}