<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/normalize.css" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/style-index.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<title>TJ Soptame</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">TJS</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li {% if h %}class="active"{% endif %}><a href="/">Home</a></li>
					<li {% if a %}class="active"{% endif %}><a href="/about/">About</a></li>
					<li><a href="/contact/">Contact</a></li>
					<li><a href="http://tuss4dzigns.com/blog">Blog</a></li>
					<li class="dropdown  {% if g %}active{% endif %}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolios <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/portfolio/">CG Portfolio</a></li>
							<li class="separator"></li>
							<li {% if g %}class="active"{% endif %}><a href="/repos/">GitHub Repos</a></li>
						</ul>
					</li>
					<li {% if v %}class="active"{% endif %}><a href="/videos/">Videos</a></li>
				</ul>
			</div>
		</nav>
		<div class="page-header">
			<h1>TJ aka Tuss4 <small>Software Developer - Martial Artist - CG Artist</small></h1>
		</div>
		<div class="container">
			<div class="row">
				{% block content %}{% endblock %}
			</div>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<p class="navbar-text pull-right">&copy; 2013 <a href="/">Tomjo Soptame</a></p>
		</nav>
	</body>
</html>